<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전북대학교</title>
    <link rel="stylesheet" href="/css/common.css">

</head>
<body>

<div id="wrap">

<!-- header -->
<? include "include/header.html" ?>

    <div id="visual_sub">
        <div class="sub_wrap">
            <h2>대학 / 대학원</h2>
            <div class="sub_gnb">
                
                <div class="home"><a href="#">
                    <img src="/images/sub_home.png" alt="">
                    </a>
                </div>

                <ul>
                    <li><a href="#">대학/대학원</a>
                        <img src="/images/sub_arrow.png" alt="">
                        <ul class="sm_gnb">
                            <li><a href="#">대학/대학원</a></li>
                            <li><a href="#">입학/취업</a></li>
                            <li><a href="#">대학생활</a></li>
                            <li><a href="#">연구/산학</a></li>
                            <li><a href="#">커뮤니티</a></li>
                            <li><a href="#">대학정보</a></li>
                        </ul>
                    </li>

                    <li><a href="#">대학</a>
                        <img src="/images/sub_arrow.png" alt="">
                        <ul class="sm_gnb">
                            <li><a href="#">대학</a></li>
                        </ul>
                    </li>

                    <li><a href="#">공과대학</a>
                        <img src="/images/sub_arrow.png" alt="">
                        <ul class="sm_gnb">
                            <li><a href="#">간호대학</a></li>
                            <li><a href="#">예술대학</a></li>
                            <li><a href="#">공과대학</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div id="section">
        <div class="section_box">
            <h3>공과대학</h3>
            <div class="de_box"></div>
            <div class="sub_n"><img src="/images/engineering.jpg" alt="">
                <div class="text_box">
                    <span>공과대학</span>
                    <p>21세기 지식정보시대를 맞아 기초 공학 교육 강화와 기업맞춤형 교육 프로그램을 개발하여 
                        연구, 개발 및 산업 현장에서<br>경쟁력을 갖춘 지도자를 양성하고, 산학연의 첨단 기술 개발과 활용을 
                        위한 다양한 프로그램을 수립하여<br>지역산업의 경쟁력 강화에 도움을 줄 수 있는 학생을 
                        배출 하고 있습니다.</p>
                </div>
            </div>
            
            <div class="tel_box">
                <ul class="tel_h">
                    <li>학부(과)</li>
                    <li>사무실</li>
                    <li>전화</li>
                </ul>
                <ul class="tel_m">
                    <li>IT응용시스템공학과</li>
                    <li>공대 1호관 142호</li>
                    <li>T 063-270-4773, 4778<br>
                        F 063-270-4542</li>
                </ul>
                <ul class="tel_m">
                    <li>IT정보공학과</li>
                    <li>공대 7호관 224호</li>
                    <li>T 063-270-2410<br>
                        F 063-270-2394</li>
                </ul>
                <ul class="tel_m">
                    <li>건축공학과</li>
                    <li>공대 1호관 132호</li>
                    <li>T 063-270-2276<br>
                        F 063-270-2285</li>
                </ul>
                <ul class="tel_m">
                    <li>고분자·나노공학과</li>
                    <li>공대 9호관 719호</li>
                    <li>T 063-270-2335<br>
                        F 063-270-2341</li>
                </ul>
                <ul class="tel_m">
                    <li>기계공학과</li>
                    <li>공대 4호관 212호</li>
                    <li>T 063-270-2316<br>
                        F 063-270-2315</li>
                </ul>
                <ul class="tel_m">
                    <li>기계설계공학전공</li>
                    <li>공대 3호관 211호</li>
                    <li>T 063-270-2452<br>
                        F 063-270-2460</li>
                </ul>
                <ul class="tel_m">
                    <li>나노바이오기계시스템공학전공</li>
                    <li>공대 3호관 211호</li>
                    <li>T 063-270-2339<br>
                        F 063-270-2460</li>
                </ul>
                <ul class="tel_m">
                    <li>기계시스템공학부</li>
                    <li>공대 4호관 114호</li>
                    <li>T 063-270-2367<br>
                        F 063-270-2388</li>
                </ul>
                <ul class="tel_m">
                    <li>도시공학과</li>
                    <li>공대 9호관 917호</li>
                    <li>T 063-270-4051<br>
                        F 063-270-4052</li>
                </ul>
                <ul class="tel_m">
                    <li>바이오메디컬공학부</li>
                    <li>공대 1호관 332호</li>
                    <li>T 063-270-4063<br>
                        F 063-270-2247</li>
                </ul>
                <ul class="tel_m">
                    <li>사회기반공학과</li>
                    <li>공대 1호관 329호</li>
                    <li>T 063-270-4784<br>
                        F 063-270-4785</li>
                </ul>
                <ul class="tel_m">
                    <li>산업정보시스템공학과</li>
                    <li>공대 6호관 418호</li>
                    <li>T 063-270-2327<br>
                        F 063-270-2333</li>
                </ul>
                <ul class="tel_m">
                    <li>소프트웨어공학과</li>
                    <li>공대 5호관 113호</li>
                    <li>T 063-270-4541<br>
                        F 063-270-4767</li>
                </ul>
                <ul class="tel_m">
                    <li>금속시스템공학전공</li>
                    <li>공대 4호관 210호</li>
                    <li>T 063-270-2286<br>
                        F 063-270-2305</li>
                </ul>
                <ul class="tel_m">
                    <li>전자재료공학전공</li>
                    <li>공대 5호관 304호</li>
                    <li>T 063-270-2378<br>
                        F 063-270-2386</li>
                </ul>
                <ul class="tel_m">
                    <li>정보소재공학전공</li>
                    <li>공대 4호관 210호</li>
                    <li>T 063-270-3969<br>
                        F 063-270-2305</li>
                </ul>
                <ul class="tel_m">
                    <li>양자시스템공학과</li>
                    <li>공대 1호관 156호</li>
                    <li>T 063-270-4997<br>
                        F 063-270-4998</li>
                </ul>
                <ul class="tel_m">
                    <li>유기소재파이버공학과</li>
                    <li>공대 2호관 314호</li>
                    <li>T 063-270-2349<br>
                        F 063-270-2348</li>
                </ul>
                <ul class="tel_m">
                    <li>자원·에너지 공학과</li>
                    <li>공대 2호관 304호</li>
                    <li>T 063-270-2358<br>
                        F 063-270-2366</li>
                </ul>
                <ul class="tel_m">
                    <li>전기공학부</li>
                    <li>공대 7호관 224호</li>
                    <li>T 063-270-2389<br>
                        F 063-270-2394</li>
                </ul>
                <ul class="tel_m">
                    <li>컴퓨터공학부</li>
                    <li>공대 7호관 224호</li>
                    <li>T 063-270-3431, 4233<br>
                        F 063-270-2394</li>
                </ul>
                <ul class="tel_m">
                    <li>토목공학과</li>
                    <li>공대 1호관 263호</li>
                    <li>T 063-270-2420<br>
                        F 063-270-2421</li>
                </ul>
                <ul class="tel_m">
                    <li>항공우주공학과</li>
                    <li>공대 9호관 620호</li>
                    <li>T 063-270-2468<br>
                        F 063-270-2472</li>
                </ul>
                <ul class="tel_m">
                    <li>화학공학부</li>
                    <li>공대 6호관 118호</li>
                    <li>T 063-270-2431<br>
                        F 063-270-2306</li>
                </ul>
                <ul class="tel_b">
                    <li>환경공학과</li>
                    <li>공대 6호관 320호</li>
                    <li>T 063-270-2441<br>
                        F 063-270-2449</li>
                </ul>
            </div>


        </div>
    </div>

<!-- header -->
<? include "include/footer.html" ?>  
    
    <div>

</div>

<div id="gogo">
        <ul>
            <li class="q_login"><a href="#"><img src="/images/side1.png" alt=""></a></li>
            <li class="search"><img src="/images/side2.png" alt=""></li>
            <li class="q_menu"><img src="/images/side3.png" alt=""></li>
            <li><a href="#"><img src="/images/side4.png" alt=""></a></li>
        </ul>

        <div class="search_box">
            <form action="">
                <fieldset>
                    <legend>검색</legend>
                    <input type="text"  minlength="2">
                </fieldset>
            </form>
        </div>  

</div>

<!-- side_m -->
<? include "include/side_m.html" ?>


<script src="/script/action.js"></script>


</body>
</html>