<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전북대학교</title>
    <link rel="stylesheet" href="/css/common.css">

</head>
<body>
    
<div id="wrap">

<!-- header -->
<? include "include/header.html" ?>

    <div id="visual_sub">
        <div class="sub_wrap">
            <h2>대학 / 대학원</h2>
            <div class="sub_gnb">
                
                <div class="home"><a href="#">
                    <img src="/images/sub_home.png" alt="">
                    </a>
                </div>

                <ul>
                    <li><a href="#">대학/대학원</a>
                        <img src="/images/sub_arrow.png" alt="">
                        <ul class="sm_gnb">
                            <li><a href="#">대학/대학원</a></li>
                            <li><a href="#">입학/취업</a></li>
                            <li><a href="#">대학생활</a></li>
                            <li><a href="#">연구/산학</a></li>
                            <li><a href="#">커뮤니티</a></li>
                            <li><a href="#">대학정보</a></li>
                        </ul>
                    </li>

                    <li><a href="#">대학</a>
                        <img src="/images/sub_arrow.png" alt="">
                        <ul class="sm_gnb">
                            <li><a href="#">대학</a></li>
                        </ul>
                    </li>

                    <li><a href="#">간호대학</a>
                        <img src="/images/sub_arrow.png" alt="">
                        <ul class="sm_gnb">
                            <li><a href="#">간호대학</a></li>
                            <li><a href="#">예술대학</a></li>
                            <li><a href="#">공과대학</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div id="section">
        <div class="section_box">
            <h3>간호대학</h3>
            <div class="de_box"></div>
            <div class="sub_n"><img src="/images/nurse.jpg" alt="">
                <div class="text_box">
                    <span>간호학과</span>
                    <p>1942년 간호교육을 시작한 이래 충실하게 교육, 연구, 봉사를 수행하면서 
                        지속적으로 성장하고있으며<br> 
                        최적의 교육환경에서 ‘글로컬 역량을 갖춘 간호인재’로 거듭나고 있습니다.</p>
                </div>
            </div>
            
            <div class="tel_box">
                <ul class="tel_h">
                    <li>학부(과)</li>
                    <li>사무실</li>
                    <li>전화</li>
                </ul>
                <ul class="tel_b">
                    <li>간호학과</li>
                    <li>간호대학 205호</li>
                    <li>T 063-270-4682, 3104<br>
                        F 063-270-4487
                    </li>
                </ul>
            </div>
        </div>
    </div>

<!-- header -->
<? include "include/footer.html" ?>

    <div>

</div>

<div id="gogo">
        <ul>
            <li class="q_login"><a href="#"><img src="/images/side1.png" alt=""></a></li>
            <li class="search"><img src="/images/side2.png" alt=""></li>
            <li class="q_menu"><img src="/images/side3.png" alt=""></li>
            <li><a href="#"><img src="/images/side4.png" alt=""></a></li>
        </ul>

        <div class="search_box">
            <form action="">
                <fieldset>
                    <legend>검색</legend>
                    <input type="text"  minlength="2">
                </fieldset>
            </form>
        </div>  

</div>

<!-- side_m -->
<? include "include/side_m.html" ?>


<script src="/script/action.js"></script>


</body>
</html>