<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전북대학교</title>
    <link rel="stylesheet" href="/css/common.css">

</head>
<body>

<div id="wrap">

<!-- header -->
<? include "include/header.html" ?>

    <div id="visual_main">
        <p><img src="/images/visual_text.png" alt=""></p>
        <div class="quick_btns">
            <ul>
                <li>
                    <a href="#"><img src="/images/visual_01.png" alt="">
                    <h3>증명서발급</h3></a>
                </li>
                <li><a href="#"><img src="/images/visual_02.png" alt="">
                    <h3>학과소개</h3></a>
                </li>
                <li><a href="#"><img src="/images/visual_03.png" alt="">
                    <h3>수강신청</h3></a>
                </li>
                <li><a href="#"><img src="/images/visual_04.png" alt="">
                    <h3>취업상담</h3></a>
                </li>
            </ul>
        </div>
    </div>

    <div id="section02">
        <div class="notice_wrap">
            <div class="notice_box">
                <h2>NOTICE</h2>
                <ul>
                    <li><a href="#">제8회 데이터 분석 경진대회 '2020 빅콘테스트' 참여 안내</a></li>
                    <li><a href="#">07-31</a></li>
                    <li><a href="#">2020년 구리시 UCC 공모전 안내</a></li>
                    <li><a href="#">07-31</a></li>
                    <li><a href="#">2020.2학기 학자금 대출 신청 안내</a></li>
                    <li><a href="#">07-30</a></li>
                    <li><a href="#">강의매매 전면금지 : 랜덤공석제 적용</a></li>
                    <li><a href="#">07-30</a></li>
                    <li><a href="#">2020학년도 2학기 KF(한국국제교류재단) 공공외교 강의 안내</a></li>
                    <li><a href="#">07-30</a></li>
                </ul>
            </div>
            <div class="notice_box">
                    <p><a href="#">Read More
                        <img src="/images/arrow.png" alt="">
                    </a></p>
                    <ul>
                        <li><a href="#">2020학년도 2학기 한국교원대학교 교류 수학 안내</a></li>
                        <li><a href="#">07-30</a></li>
                        <li><a href="#">2020 대한민국 인재상 선발 안내</a></li>
                        <li><a href="#">07-30</a></li>
                        <li><a href="#">2020년 국민생각함 청소년ㆍ청년 아이디어 공모전 안내</a></li>
                        <li><a href="#">07-30</a></li>
                        <li><a href="#">[언어교육부] 2020년 8월 토익, 토익스피킹강좌, 모의토익 안내</a></li>
                        <li><a href="#">07-30</a></li>
                        <li><a href="#">2020학년도 2학기 <국제개발협력과 ODA> 일반선택 강의 안내</a></li>
                        <li><a href="#">07-30</a></li>
                    </ul>
                    </ul>    
            </div>
    </div>

    <div id="section03">
        <div class="news_wrap">
            <h2>JBNU NEWS</h2>
            <p><a href="#">Read More
                <img src="/images/news_arrow_03.png" alt="">
            </a></p>
            <ul>
                <li><a href="#"></a>
                    <ul class="news_in">
                        <li><a href="#">한국국토정보공사,<br>
                            측량 실습용 소프트웨어 기증</a></li>
                        <li><a href="#">전북대학교가 학생들의 학습 여건 개선과 
                            실무능력 배양을 위해 한국국토정보 ...</a></li>
                        <li><a href="#">2020-07-20</a></li>
                    </ul>
                    <p><a href="#">more<img src="/images/in_arrow.png" alt=""></a></p>
                </li>
                <li><a href="#"></a>
                    <ul class="news_in">
                        <li><a href="#">우리대학,<br> 
                            창업교육 활성화 위해 전북
                            지역 대학들과 '맞손'</a></li>
                        <li><a href="#">전북대학교가 질 높은 창업교육 체제 구축을
                            위해 전북지역 대학들과 손을 맞잡았다.
                            </a></li>
                        <li><a href="#">2020-07-20</a></li>
                    </ul>
                    <p><a href="#">more<img src="/images/in_arrow.png" alt=""></a></p>
                </li>
                <li><a href="#"></a>
                    <ul class="news_in">
                        <li><a href="#">권오석 학생, 
                            대통령 과학장학생 선발</a></li>
                        <li><a href="#">전북대학교 화학공학부 권오석 학생이 
                            올해 대통령과학장학생에 선발됐다.</a></li>
                        <li><a href="#">2020-07-20</a></li>
                    </ul>
                    <p><a href="#">more<img src="/images/in_arrow.png" alt=""></a></p>
                </li>
            </ul>
        </div>
    </div>

    <div id="section04">
        <div class="sns_wrap">
            <h2>JBNU SNS</h2>
            <div class="sns_box">
                <ul>
                    <li><a href="#"><img src="/images/yutube.png" alt=""></a></li>
                    <li><a href="#"><img src="/images/insta.png" alt=""></a></li>
                    <li><a href="#"><img src="/images/face.png" alt=""></a></li>
                </ul>

            <div class="yutube_zone">
                <div class="y_btn"><img src="/images/y_play.png" alt=""></div>
                <div class="y_video">
                    <iframe src="" 
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope;
                    picture-in-picture" 
                    allowfullscreen></iframe>

                    <div class="c_btn">
                        <img src="/images/y_close.png" alt="">
                    </div>
                </div>
            </div>

            </div>
        </div>
    </div>

    <div id="section05">
        <div class="banner_box">
            <h2>BANNER ZONE</h2>
            <div class="btns">
                <ul>
                    <li class="action"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="banner_zone">
                <div class="banner_1"><img src="/images/banner_1.jpg" alt=""></div>
                <div class="banner_2"><img src="/images/banner_2.jpg" alt=""></div>
                <div class="banner_3"><img src="/images/banner_3.jpg" alt=""></div>
                <div class="banner_4"><img src="/images/banner_4.jpg" alt=""></div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <? include "include/footer.html" ?>
    
    <div>

</div>

<div id="gogo">
        <ul>
            <li class="q_login"><a href="#"><img src="/images/side1.png" alt=""></a></li>
            <li class="search"><img src="/images/side2.png" alt=""></li>
            <li class="q_menu"><img src="/images/side3.png" alt=""></li>
            <li><a href="#"><img src="/images/side4.png" alt=""></a></li>
        </ul>

        <div class="search_box">
            <form action="">
                <fieldset>
                    <legend>검색</legend>
                    <input type="text"  minlength="2">
                </fieldset>
            </form>
        </div>  

</div>

<!-- side_m -->
<? include "include/side_m.html" ?>



<script src="/script/jquery-3.5.1.js"></script>
<script src="/script/action.js"></script>


</body>
</html>