/*header*/
#header {width: 100%;height: 60px;background: #fff;position: absolute;
transition: .3s;z-index: 5;border-bottom: 1px solid #ccc;}
#header .header_wrap {width: 100%;height: 60px;margin: 0 auto;}

#header .header_wrap .top_menu {width: 224px;height: 16px;float: right;
margin-top: 3px;display: none;}
#header .header_wrap .top_menu li {float: left;}
#header .header_wrap .top_menu li input {border-bottom: 1px solid #fff;width: 143px;
text-indent: 5px;}
#header .header_wrap .top_menu li:first-child p {width: 13px;height: 14px;
padding: 0 7px; background: url('../images/search.png') no-repeat center; margin-top: -16px; margin-left: 143px
;border-right: 1px solid #fff;}
#header .header_wrap .top_menu li select {border: 0;background:none;color: #fff;
padding-left: 7px;}
#header .header_wrap .top_menu li select option {color: #333;}

#header .header_wrap h1 {width: 200px;height:36px;position: relative;top: 50%;left: 50%;
transform: translate(-50%,-50%)
;background: url('../images/logo_hover.png') no-repeat;background-size: 200px;}
#header .header_wrap h1 img {display: none;}

#header .header_wrap .gnb {width: 770px;height: 20px;float:right;
margin-top: 20px;margin-right:80px;display: none;}
#header .header_wrap .gnb > ul > li {float: left;font-size: 18px;font-weight: bold;padding: 0 40px;position: relative;}
#header .header_wrap .gnb > ul > li > a {color: #fff;display: block;}

.hamberg {width: 30px;height: 26px;position: absolute;top:17px;left: 15px;z-index: 5;}
.hamberg span {height:2px;width: 100%;background: #333;display: block;
margin-bottom: 10px;}

.hamberg span.hide_span {width: 0;animation: hide_s 0.5s;}

@keyframes hide_s {

    0% {width: 100%;}
    100% {width: 0;}
}


.hamberg_bg {width: 0;height: 100vh;position: absolute;background: #fff;
z-index: 5;display: none;}
.hamberg_bg > ul {margin-top: 80px;}
.hamberg_bg > ul > li {font-size: 18px;font-weight: bold;line-height: 40px;text-indent: 30px;}
.hamberg_bg > ul > li .mo_navi {width: 100%;background: #cd2b36;display: none;}
.hamberg_bg > ul > li .mo_navi li {font-size: 16px;font-weight: normal;line-height: 40px;text-indent: 40px;}
.hamberg_bg > ul > li .mo_navi li a {color: #fff;}

.mobile_close {width: 30px;height: 26px;position: absolute;top:17px;left: 15px;}
.mobile_close img {width: 100%;animation: close_show 1s;}

@keyframes close_show {

    0% {opacity: 0;}
    100% {opacity: 1;}
}




/* #header:hover  {background: #fff;border-bottom: 1px solid #ccc;}
#header:hover .header_wrap h1 {background: url('../images/logo_hover.png') no-repeat left;}
#header:hover .header_wrap h1 img {opacity: 0;}
#header:hover .header_wrap .gnb > ul > li > a {color: #333;}
#header:hover .header_wrap .top_menu li select {color: #333;}
#header:hover .header_wrap .top_menu li input {border-bottom: 1px solid #333;}
#header:hover .header_wrap .top_menu li:first-child p {border-right: 1px solid #333
;background:url('../images/search_hover.png') no-repeat top center;}


#header:hover .header_wrap .gnb .sub_gnb {height: 100px;}
#header:hover .gnb_bg {height: 100px;border-bottom: 1px solid #ccc;}
.header_wrap .gnb li:hover .sub_gnb {background:#cd2b36}
.header_wrap .gnb li:hover .sub_gnb li a {color: #fff;} */

/*action*/
#header.action {position: fixed;}
/* #header.action .header_wrap h1 {background:  url('../images/logo_hover.png') no-repeat center;
background-size:200px;} */
#header.action .header_wrap h1 img {opacity:0;}
#header.action .header_wrap .gnb > ul > li > a {color: #333;}
#header.action .header_wrap .top_menu li select {color: #333;}
#header.action .header_wrap .top_menu li input {border-bottom: 1px solid #333;}
#header.action .header_wrap .top_menu li:first-child p {border-right: 1px solid #333
;background:url('../images/search_hover.png') no-repeat top center;}


/*submenu*/
.header_wrap .gnb .sub_gnb {position:absolute;width: 100%;height: 0;background: #fff;left: 0;top:52px;
z-index: 5;overflow: hidden;transition: .5s;}
.header_wrap .gnb .sub_gnb li {text-align: center;font-weight: normal;padding: 10px 0;position: relative;}
.header_wrap .gnb .sub_gnb li a {display: block;color: #333;}
.header_wrap .gnb .sub_gnb li span {height: 1px;background:#fff;position: absolute;transition: .3s;}
.header_wrap .gnb .sub_gnb li .left {width: 0;left:50% ;bottom:0;}
.header_wrap .gnb .sub_gnb li .right {width: 0;right:50% ;bottom:0;}

.header_wrap .gnb .sub_gnb li:hover .left {width: 40%;}
.header_wrap .gnb .sub_gnb li:hover .right {width: 40%;}

.gnb_bg {width: 100%;height: 100vw;background:#fff;position: absolute;top: 0;margin-top: 91px
;transition: .5s;display: none;}







/*visual*/
#visual {width: 100%;}
#visual .visual_wrap {width: 100%; position: relative; overflow: hidden;}

/* #visual .visual_wrap .swiper-slide {width: 100%;  padding: 30% 0; background-size:160% !important; background-repeat:no-repeat !important;} */

#visual .visual_wrap .swiper-slide {background: none !important;}
#visual .visual_wrap .swiper-slide .mobile_visual {width: 100%;}
#visual .visual_wrap .visual_img {width: 100%; margin: 0 auto; position: relative;}
/* .visual_wrap .visual_slide li {position: absolute;width: 100%;height: 100%; left: 0;top: 0;} */




#visual .visual_wrap .visual_btns {width: 71px;height: 17px;position: absolute;
top: 50%;left: 50%;margin-left:-45px;margin-top:350px;z-index: 2;display: none;}
#visual .visual_wrap .visual_btns li {width: 15px;height: 15px;border: 1px solid #ccc;
border-radius: 50%;float: left;margin-right: 10px;}
#visual .visual_wrap .visual_btns li:last-child {margin-right: 0;}

#visual .visual_wrap .visual_btns li.active {background: #cd2b36;border: 0;
border:1px solid #cd2b36;}








/*slide*/
html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

.swiper-button-next { ;display: none !important;}
.swiper-button-prev {;display: none !important;}
.swiper-pagination-white span {width: 15px;height: 15px;}




/*section*/

/*01*/
#about_k {width: 100%;height: 452px;background: #eaeaea;}
#about_k .about_wrap {width: 95%;height: 452px;margin: 0 auto;padding-top: 20px;}
#about_k .about_wrap h2 {width: 100%;height: 30px;text-align: center;}
#about_k .about_wrap h2 span {color: #cd2b36;}

#about_k .about_wrap ul {width: 100%;position: relative;margin: 10px auto 0 auto;}
#about_k .about_wrap li {width: 120px;height: 120px;border-radius: 50%;background: #cd2b36
;transition: .3s;margin: 0 auto 5px auto;}
#about_k .about_wrap li img {width: 70px;margin-left: 25px;margin-top: 10px;}
#about_k .about_wrap li p {width: 100%;font-size: 16px;color: #fff;text-align: center;
margin-top: 5px;}
#about_k .about_wrap ul span {width: 165px;height: 1px;background: #cd2b36;display: block;
position: absolute;}
#about_k .about_wrap ul .about_line01 {left: 0;margin-left: 270px;top: 0;margin-top:134px
;display: none;}
#about_k .about_wrap ul .about_line02 {right: 0;margin-right: 270px;top:0;margin-top:134px
;display: none;}

#about_k .about_wrap li:hover {transform: scale(1.1);}




/*02*/

.web_project {display: none;}

#project {width: 100%;background: #fff;}
#project .project_wrap {width: 95%;margin: 0 auto;padding-top: 65px;
position: relative}
#project .project_wrap h2 {width: 100%;height: 30px;text-align: center;margin-bottom: 30px;}
#project .project_wrap h2 span {color: #cd2b36;}


.slide_wrap {width: 100%;position: relative;overflow: hidden;margin-bottom: 65px;overflow: hidden;}
.slide_wrap .slide {width: 100%;top: 0;}
.slide_wrap .slide li {float: left;width: 100%;}
.slide_wrap .slide li img {width: 100%;}

.slide_wrap .slide li .kominox {padding: 1% 2%;border: 1px solid #fff;position: absolute;
font-size: 16px;color: #fff;top: 85%;margin-left:20%}
.slide_wrap .slide li .panaphix {padding: 5px 10px;border: 1px solid #fff;position: absolute;
font-size: 16px;color: #fff;;top: 85%;margin-left:20%}




#project .project_wrap .project_arrow {width: 100%;cursor: pointer;position: absolute;
top:100%;}
#project .project_wrap .project_arrow img {width: 50px}
/* #project .project_wrap .project_arrow img:last-child {float: right;} */






#project .project_wrap > ul {width: 695px;margin: 48px auto
;position: relative;display: none;}
#project .project_wrap > ul > li {position: absolute;}
#project .project_wrap > ul > li:first-child {width: 100%;height: 100%;border-radius: 50%;
border: 1px solid #ccc;}

#project .project_wrap > ul > li:nth-child(2) {width:683px;height: 683px;border-radius: 50%;
border: 1px solid #ccc;top: 6px;left: 6px;}
#project .project_wrap > ul > li:last-child  {width:673px;height: 673px;border-radius: 50%;
border: 1px solid #ccc;top: 11px;left: 11px;}


/* #project .project_wrap .project_intro {width: 790px;height: 476px;top: 50%;left: 50%;
;position: absolute;margin-left: -395px;margin-top: -14%;}
#project .project_wrap .project_intro .intro_photo {width: 482px;height: 476px}
#project .project_wrap .project_intro .intro_ex {width: 419px;height: 204px;
position: absolute;top: 50%;right: 0;margin-top:-102px;background: #a2a2a2;}

#project .project_wrap .project_intro .intro_ex .ex_box {width: 340px;height: 170px
;margin: 17px auto;}
.project_intro .intro_ex .ex_box p {margin-bottom: 5px;}
.project_intro .intro_ex .ex_box p:first-child {font-size: 20px;color: #fff;} 
.project_intro .intro_ex .ex_box p:nth-child(2) {font-size: 24px;color: #fff;} 
.project_intro .intro_ex .ex_box p:nth-child(2) span {font-size: 14px;color: #fff;} 
.project_intro .intro_ex .ex_box p.ex {font-size: 14px;color: #fff;margin-bottom: 3px;} 
.project_intro .intro_ex .ex_box button {padding: 11px 20px;color: #fff
;border: 1px solid #fff;font-size: 16px;margin-top: 11px;} */






/*03*/
#animal {width: 100%;background: #eaeaea;}
#animal .animal_wrap {width: 95%;margin: 0 auto;padding-top: 30px;}
#animal .animal_wrap h2 {width: 100%;height: 30px;text-align: center;margin: 0 auto 10px auto;
float: left;}
#animal .animal_wrap h2 span {color: #cd2b36;}
#animal .animal_wrap h2 p {float: right;margin-top: -6px;cursor: pointer;}

#animal .animal_wrap ul {width: 80%;margin:0 auto;padding-bottom: 30px;}
#animal .animal_wrap ul li {width: 100%;height: 100px;position: relative
;overflow: hidden;margin: 0 auto;overflow: hidden;}
#animal .animal_wrap ul li .animal_img {margin-top: -150px;margin-left: -200px;}
#animal .animal_wrap ul li:nth-child(2) .animal_img img {margin-top: -150px}
#animal .animal_wrap ul li:nth-child(2) .animal_img:nth-child(2) img {margin-top: 0}
#animal .animal_wrap ul li p {width: 100%;height: 74px;font-size: 24px;line-height: 74px;
text-align: center;color: #fff;position: absolute;top: 15%;opacity: 0;z-index: 3;}

#animal .animal_wrap ul li span {width: 100%;height:100%;background:rgba(205,43,54,0.8);
position: absolute;bottom:-100%;transition: .3s;}
#animal .animal_wrap ul li:hover span {bottom:0}
#animal .animal_wrap ul li:hover p {opacity: 1;}

#animal .animal_wrap ul li.km span {top:-100%}
#animal .animal_wrap ul li.km:hover span {top:0}

#animal .animal_wrap ul li span p {color: #fff;line-height: 402px;opacity: 0;
font-size: 18px;display: none;}

#animal .animal_wrap ul li:hover span p {opacity: 1;}





/*04*/
#news {width: 100%;height: 454px;background: url('../images/news_bg.jpg') center no-repeat;}
#news .news_wrap {width: 95%;margin: 0 auto;padding-top: 87px;}
#news .news_wrap h2 {width: 100%;height: 30px;text-align: center;margin: 0 auto 10px auto;color: #fff;}
#news .news_wrap h2 span {color: #cd2b36;}
#news .news_wrap h2 p {cursor: pointer;float: right;margin-top: -6px;}

#news .news_wrap ul {width: 100%;height: 182px;margin-top: 40px;overflow: hidden;}
#news .news_wrap ul li {width: 98%;height: 180px;border: 1px solid #fff;
transition: .3s;margin: 0 auto;}
#news .news_wrap ul li:last-child {margin-right: 0;}

#news .news_wrap ul li .news_text {width: 310px;height: 96px;;margin: 42px auto}
#news .news_wrap ul li .news_text p {color: #fff;font-size: 20px;}
#news .news_wrap ul li .news_text p:first-child {font-size: 16px;margin-bottom: 25px;}
#news .news_wrap ul li .news_text p:last-child {margin-top: 5px;}

#news .news_wrap ul li:hover {background: #fff;}
#news .news_wrap ul li:hover .news_text p {color: #cd2b36;font-weight: bold;}





/*footer*/
#footer {width: 100%;height: 205px;background:#a2a2a2;}
#footer .footer_wrap {width: 95%;margin: 0 auto;padding: 20px 0}
#footer .footer_wrap img {;float: left;}
#footer .footer_wrap .footer_text {width: 100%;height: 58px;float: left;margin-top: 20px;}
#footer .footer_wrap .footer_text p {font-size: 14px;color: #555;margin-bottom: 5px;}





/*sub_header*/
#header_sub {width: 100%;height: 60px;background: #fff;position: absolute;
transition: .3s;z-index: 5;border-bottom: 1px solid #ccc;}
#header_sub .header_wrap {width: 100%;height: 60px;margin: 0 auto;}

#header_sub .header_wrap .top_menu {width: 224px;height: 16px;float: right;
margin-top: 3px;display: none;}
#header_sub .header_wrap .top_menu li {float: left;}
#header_sub .header_wrap .top_menu li input {border-bottom: 1px solid #fff;width: 143px;
text-indent: 5px;}
#header_sub .header_wrap .top_menu li:first-child p {width: 13px;height: 14px;
padding: 0 7px; background: url('../images/search.png') no-repeat center; margin-top: -16px; margin-left: 143px
;border-right: 1px solid #fff;}
#header_sub .header_wrap .top_menu li select {border: 0;background:none;color: #fff;
padding-left: 7px;}
#header_sub .header_wrap .top_menu li select option {color: #333;}

#header_sub .header_wrap h1 {width: 200px;height:36px;position: relative;top: 50%;left: 50%;
transform: translate(-50%,-50%)
;background: url('../images/logo_hover.png') no-repeat;background-size: 200px;}
#header_sub .header_wrap h1 img {display: none;}

#header_sub .header_wrap .gnb {width: 770px;height: 20px;float:right;
margin-top: 20px;margin-right:80px;display: none;}
#header_sub .header_wrap .gnb > ul > li {float: left;font-size: 18px;font-weight: bold;padding: 0 40px;position: relative;}
#header_sub .header_wrap .gnb > ul > li > a {color: #fff;display: block;}



#header_sub.action02 {position: fixed;}
/* #header.action .header_wrap h1 {background:  url('../images/logo_hover.png') no-repeat center;
background-size:200px;} */
#header_sub.action02 .header_wrap h1 img {opacity:0;}






/*subpage*/
#sub_section {width: 95%;background: #fff;margin: 0 auto;}
#sub_section .sub_section_wrap {width: 100%;}
#sub_section .sub_section_wrap:after {content: "";display: block;clear: both;}


/*ceo인사말*/
.greeting_intro {width: 100%;padding-top: 139px;margin: 0 auto;}
.greeting_intro h3 {font-size: 36px;margin-left: 26px;float: left;padding-left: 16px;
border-left: 3px solid #e50015;margin-bottom: 40px;}
.greeting_intro .h3_explain {float: left;margin-left: 30px;font-size: 20px;margin-bottom: 40px;}
.greeting_intro .h3_explain p {font-size: 20px;line-height: 25px;}




.sub_section_wrap .sub_visual_wrap {width: 100%;}
.sub_section_wrap .sub_visual {width: 100%;height: 250px;overflow: hidden;}
.sub_section_wrap .sub_visual .sub_img {width: 100%;height: 100%;margin:0 auto;}
.sub_section_wrap .sub_visual .sub_img img {position: relative;animation: sub_ani 3s;margin-left:-500px;}

    @keyframes sub_ani {

        0% {top: -100px;}
        100% {top:0}
    }

.sub_section_wrap .greeting_text {width: 100%;margin: 0 auto;}
.sub_section_wrap .greeting_text ul {width: 100%;margin:40px 0 100px 0}
.sub_section_wrap .greeting_text ul li {color: #555;font-size: 18px;margin-bottom: 35px;}
.sub_section_wrap .greeting_text ul li:last-child {margin-bottom:0;}
.sub_section_wrap .greeting_text ul li span {color: #333;font-size: 24px;}





/*비전*/
.vision_intro {width: 100%;padding-top: 139px;margin: 0 auto;}
.vision_intro h3 {font-size: 36px;margin-left: 26px;float: left;padding-left: 16px;
border-left: 3px solid #e50015;margin-bottom: 40px;}
.vision_intro .h3_explain {float: left;margin-left: 40px;font-size: 20px;margin-bottom: 40px;}
.vision_intro .h3_explain p {font-size: 20px;line-height: 25px;}


.vision_wrap {width: 100%;margin: 0 auto;}
.vision_wrap .vision {width:100%;float: left;
position: relative;margin-bottom: 100px;animation: vision_ani 2s;}


@keyframes vision_ani {

    0% {opacity: 0;top: 100px;}
    100% {opacity: 1;top: 0}
}




.vision_wrap .vision > img {display: none;}
.vision_wrap .vision ul {width:90%;height: 100%;margin: 0 auto;}
.vision_wrap .vision li {width: 50%;margin: 50px auto 0 auto;}
.vision_wrap .vision li img {position: relative;left: 50%;transform: translate(-50%);}
.vision_wrap .vision li p {float: right;width: 100%;text-align:center;margin-top: 20px;margin-bottom: 40px;}
/* .vision_wrap .vision li:first-child {margin-left: 57px;}
.vision_wrap .vision li:nth-child(2) {margin-left: 87px;}
.vision_wrap .vision li:nth-child(3) {margin-left: 90px;}
.vision_wrap .vision li:last-child {margin-left: 90px;} */

.vision_wrap .vision .vision_text p {width: 100%;height: 48px;text-align: center;
font-size: 14px;border: 1px solid;display: none;}
.vision_wrap .vision .vision_text p:first-child {margin-top: -500px;margin-left: 115px;}
.vision_wrap .vision .vision_text p:nth-child(2) {height: 31px;margin-left: 190px;}
.vision_wrap .vision .vision_text p:nth-child(3) {margin-top: -235px;margin-left: -38px;}
.vision_wrap .vision .vision_text p:last-child {height: 31px;float: right;text-align: right;}












/*의약사업 소개*/
.sub_section_wrap .medicine_greeting_text {width: 100%;margin: 0 auto;}
.sub_section_wrap .medicine_greeting_text ul {width: 100%;margin:40px 0 100px 0;}
.sub_section_wrap .medicine_greeting_text ul li {color: #555;font-size: 18px;margin-bottom: 35px;}
.sub_section_wrap .medicine_greeting_text ul li:last-child {margin-bottom:0;}



/*코미녹스*/
.kominox_intro {width: 100%;padding-top: 139px;margin: 0 auto;}
.kominox_intro h3 {font-size: 36px;margin-left: 26px;float: left;padding-left: 16px;
border-left: 3px solid #e50015;margin-bottom: 79px;height: 36px;}
.kominox_intro h3 span:first-child {font-weight: normal;width: 100%;}
.kominox_intro h3 span:last-child {font-weight: normal;font-size: 18px;display: none}

.kominox_wrap {width: 100%;margin: 0 auto;}
.kominox_wrap .kominox_icon {width: 100%;float: left;position: relative;}
.kominox_wrap .kominox_icon > img {display: none;}


.kominox_wrap .kominox_icon .side_effect {width: 100%;height: 110px;background:url('../images/side_effect01.png') no-repeat top
;position: relative;top: 0;animation: side_ani 2s;}

    @keyframes side_ani {

        0% {opacity: 0;top: 50px;}
        100% {opacity: 1;top: 0;}
    }


.kominox_wrap .kominox_icon .side_effect p {color: #fff;font-size: 24px;height: 110px;line-height: 110px;
text-align: center;}
.kominox_wrap .kominox_icon .side_effect img {margin-top: 0;margin-left:88px;display: none;}






.kominox_wrap .kominox_icon .effect {width: 100%;height: 110px;background:url('../images/effect.png') no-repeat top
;position: relative;top: 10px;animation: effect_ani 2s;}

@keyframes effect_ani {

    0% {opacity: 0;}
    20% {opacity: 0;top: 60px}
    100% {opacity: 1;top: 10px;}
}

.kominox_wrap .kominox_icon .effect p {color: #fff;font-size: 24px;height: 110px;line-height: 110px;
text-align: center;}
.kominox_wrap .kominox_icon .effect img {margin: 0 0 0 67px;display: none;}





.kominox_wrap .kominox_icon .safety {width: 100%;height: 110px;background:url('../images/safety.png') no-repeat top
;position: relative;top:20px;animation: safety_ani 2s;}


@keyframes safety_ani {

    0% {opacity: 0;}
    40% {opacity: 0;top:70px}
    100% {opacity: 1;top:20px}
}




.kominox_wrap .kominox_icon .safety p {color: #fff;font-size: 24px;height: 110px;line-height: 110px;
text-align: center;}
.kominox_wrap .kominox_icon .safety img {margin-top: 0;margin-left: 69px;display: none;}



.kominox_wrap .kominox_icon .easy {width: 100%;height: 110px;background:url('../images/easy.png') no-repeat top
;position: relative;top:30px;animation: easy_ani 2s;}

@keyframes easy_ani {

    0% {opacity: 0;}
    60% {opacity: 0;top:80px}
    100% {opacity: 1;top: 30px;}
}



.kominox_wrap .kominox_icon .easy p {color: #fff;font-size: 24px;height: 110px;line-height: 110px;
text-align: center;}
.kominox_wrap .kominox_icon .easy img {margin-top: 0;margin-left: 75px;display: none;}



.kominox_text {width: 100%;margin: 0 auto;}
.kominox_text .kominox_text_wrap {margin-bottom: 100px;}
.kominox_text ul {width: 100%}
.kominox_text ul li {width: 100%;color: #555;font-size: 18px;margin-bottom: 35px;
float: left;}
.kominox_text ul li:first-child {margin-top:60px;}
.kominox_text ul li:last-child {margin-bottom:100px;}












/*광견병*/
.ANSES_intro {width: 100%;padding-top: 139px;margin: 0 auto;}
.ANSES_intro h3 {font-size: 36px;margin-left: 26px;float: left;padding-left: 16px;
border-left: 3px solid #e50015;margin-bottom: 40px;}
.ANSES_intro .h3_explain {float: left;margin-left: 40px;font-size: 20px;margin-bottom: 79px;}
.ANSES_intro .h3_explain > p {font-size: 20px;line-height: 25px;}

.ANSES_box {width: 100%;margin: 0 auto;}
.ANSES_box .aNSES {width: 100%;border: 1px solid #ccc;float: left;
position: relative;margin-bottom: 45px;animation: aNSES_ani 2s ;}

    @keyframes aNSES_ani {

        0% {opacity: 0;top: 100px;}
        100% {opacity: 1;top: 0;}
    }



.ANSES_box .aNSES .aNSES_title {width: 100%;height: 46px;background: #cd2b36;line-height: 46px;
font-size: 20px;color: #fff;text-align: center;}
.ANSES_box .aNSES p {font-size: 17px;color: #555;}
.ANSES_box .aNSES .aNSES_deco {position: absolute;top: 50%;left:-433px;display: none;}


.ANSES_box .aNSES_02 {width: 100%;border: 1px solid #ccc;float: left;
position: relative;animation: aNSES02_ani 3s ;}

    @keyframes aNSES02_ani {

        0% {opacity: 0;}
        20% {opacity: 0;top:100px}
        100% {opacity: 1;top: 0;}
    }




.ANSES_box .aNSES_02 .aNSES_title {width: 100%;height: 46px;background: #cd2b36;line-height: 46px;
font-size: 20px;color: #fff;text-align: left;text-indent: 31px;}
.ANSES_box .aNSES_content {width: 95%;margin: 0 auto;text-align: center;padding: 15px 0;}
.ANSES_box .aNSES_02 p {font-size: 17px;color: #555;}
.ANSES_box .aNSES_02 .aNSES_deco {position: absolute;top: 50%;right: -424px;display: none;}



.ANSES_box .aNSES_contact {float: left;font-size: 16px;color: #555;height: 80px;margin: 80px auto 100px auto;}
.ANSES_box .aNSES_contact p {margin-bottom: 5px;}
.ANSES_box .aNSES_contact p:first-child {margin-bottom: 15px;}









/*지배구조*/
.sub_IR {width: 100%;padding-top: 139px;margin: 0 auto;}
.sub_IR h3 {font-size: 36px;margin-left: 26px;float: left;padding-left: 16px;
border-left: 3px solid #e50015;margin-bottom: 40px;}
.sub_IR .h3_explain {float: left;margin-left: 40px;font-size: 20px;margin-bottom: 40px;}
.sub_IR .h3_explain > p {font-size: 20px;line-height: 25px;}



.sub_IR_wrap {width: 100%;margin: 0 auto;}
.sub_IR_wrap .IR_explain {width: 100%;float: left;font-size: 18px;margin-bottom: 40px;}
.sub_IR_wrap .IR_explain p {margin-bottom: 10px;}
.sub_IR_wrap .IR_explain p:last-child {margin-bottom: 0px;}

.sub_IR_wrap .table_wrap {width: 100%; float: left;margin-top: 10px;overflow-x: auto;margin-bottom: 100px;}
.sub_IR_wrap .table_wrap table {width: 1200px;}
.sub_IR_wrap .table_wrap tr.t_head {height: 47px;;background: #f0f0f0;border-bottom: 1px solid #ccc
;border-top: 3px solid #cd2b36;font-size: 18px;text-align: center;}
.sub_IR_wrap .table_wrap tr td.t_division {width: 10%;}
.sub_IR_wrap .table_wrap tr td.t_name {width: 15%;}
.sub_IR_wrap .table_wrap tr td.t_day {width: 10%;}
.sub_IR_wrap .table_wrap tr td.t_position {width: 20%;}
.sub_IR_wrap .table_wrap tr td.t_work {width: 25%;}
.sub_IR_wrap .table_wrap tr td.t_join {width: 30%;}

.sub_IR_wrap .table_wrap tr.t_list {width: 100%;height: 47px;border-bottom: 1px solid #ccc;
font-size: 16px;}
.sub_IR_wrap .table_wrap tr.t_list td {text-align: center;} 











/*뉴스*/
.sub_news {width: 100%;padding-top: 139px;margin: 0 auto;}
.sub_news h3 {font-size: 36px;margin-left: 26px;float: left;padding-left: 16px;
border-left: 3px solid #e50015;margin-bottom: 40px;height: 36px;}
.sub_news .h3_explain {float: left;margin-left: 40px;font-size: 20px;margin-bottom: 40px;margin-top: 40px;}
.sub_news .h3_explain > p {font-size: 20px;line-height: 25px;}

.sub_news_wrap {width: 100%;margin: 0 auto;}
.sub_news_wrap .news_bar {width: 100%;height: 36px;float: left;}
.sub_news_wrap .news_bar p {line-height: 36px;font-size: 16px;float: left;margin-left: 14px;}
.sub_news_wrap .news_bar select {float: right;width: 25%;height: 36px;border: 1px solid #ccc;}
.sub_news_wrap .news_bar input {float: right;width:40%;height: 34px;border: 1px solid #ccc;
text-indent: 10px;margin-left: 5px;}
.sub_news_wrap .news_bar button {float: right;width: 60px;height: 36px;background: #777;
color: #fff;margin-left: 5px;}

.sub_news_wrap .table_wrap {width: 100%;float: left;margin-top: 10px;}
.sub_news_wrap .table_wrap table {margin-bottom: 100px;}
.sub_news_wrap .table_wrap .t_head {width: 100%;height: 47px;;background: #f0f0f0;border-bottom: 1px solid #ccc
;border-top: 3px solid #cd2b36;font-size: 14px;text-align: center;}
.sub_news_wrap .table_wrap .t_num {padding: 0 42px;display: none;}
.sub_news_wrap .table_wrap .t_title {width: 40%}
.sub_news_wrap .table_wrap .t_admin {width: 10%}
.sub_news_wrap .table_wrap .t_date {;width: 10%}
.sub_news_wrap .table_wrap .t_view {padding: 0 45px;display: none;}


.sub_news_wrap .table_wrap .t_list {width: 100%;height: 47px;border-bottom: 1px solid #ccc;
font-size: 14px;}
.sub_news_wrap .table_wrap .t_list td {text-align: center;}
.sub_news_wrap .table_wrap .t_list td:first-child {display: none;}
.sub_news_wrap .table_wrap .t_list td:last-child {display: none;}
.sub_news_wrap .table_wrap .t_list td:nth-child(2) {text-align:left;}




/*뉴스 보기*/

.news_view_wrap {width: 100%;margin: 0 auto;}
.news_view_wrap .table_wrap {width: 100%;float: left;margin-top: 10px;}
/* .news_view_wrap .table_wrap table {margin-bottom: 48px;} */
.news_view_wrap .table_wrap table tr {width: 100%;height: 47px;border-bottom: 1px solid #ccc;font-size: 16px;
text-indent: 3px;}
.news_view_wrap .table_wrap table tr:first-child {border-top: 3px solid #cd2b36;}
.news_view_wrap .table_wrap table td:first-child {width: 30%;background: #f0f0f0;}
.news_view_wrap .table_wrap table td:last-child {width: 853px;}
.news_view_wrap .table_wrap table td ul {width: 95%;margin: 10px;max-height: 500px;overflow-y: auto;}
.news_view_wrap .table_wrap table td ul li {margin-bottom:10px}
.news_view_wrap .table_wrap table td ul li p {margin-bottom:3px}
.news_view_wrap .table_wrap button {background: #777;padding: 20px 60px;color: #fff;font-size: 16px;
position: relative; left: 50%;transform: translate(-50%);margin-bottom: 100px;margin-top: 20px;}