<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전북대학교</title>
    <link rel="stylesheet" href="/css/common.css">

</head>
<body>
    
<div id="wrap">

<!-- header -->
<? include "include/header.html" ?>

    <div id="visual_sub">
        <div class="sub_wrap">
            <h2>대학 / 대학원</h2>
            <div class="sub_gnb">
                
                <div class="home"><a href="#">
                    <img src="/images/sub_home.png" alt="">
                    </a>
                </div>

                <ul>
                    <li><a href="#">대학/대학원</a>
                        <img src="/images/sub_arrow.png" alt="">
                        <ul class="sm_gnb">
                            <li><a href="#">대학/대학원</a></li>
                            <li><a href="#">입학/취업</a></li>
                            <li><a href="#">대학생활</a></li>
                            <li><a href="#">연구/산학</a></li>
                            <li><a href="#">커뮤니티</a></li>
                            <li><a href="#">대학정보</a></li>
                        </ul>
                    </li>

                    <li><a href="#">대학</a>
                        <img src="/images/sub_arrow.png" alt="">
                        <ul class="sm_gnb">
                            <li><a href="#">대학</a></li>
                        </ul>
                    </li>

                    <li><a href="#">예술대학</a>
                        <img src="/images/sub_arrow.png" alt="">
                        <ul class="sm_gnb">
                            <li><a href="#">간호대학</a></li>
                            <li><a href="#">예술대학</a></li>
                            <li><a href="#">공과대학</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div id="section">
        <div class="section_box">
            <h3>예술대학</h3>
            <div class="de_box"></div>
            <div class="sub_n"><img src="/images/art.jpg" alt="">
                <div class="text_box">
                    <span>예술대학</span>
                    <p>1988년 개설이후 창의적인 글로벌 예술 인재 육성을 통해 전통문화예술을 계승하고 
                        발전시켜나가는 특성화 교육으로<br>
                        지역사회와 국가의 예술, 문화발전에 크게 기여하고 있습니다.</p>
                </div>
            </div>
            
            <div class="tel_box">
                <ul class="tel_h">
                    <li>학부(과)</li>
                    <li>사무실</li>
                    <li>전화</li>
                </ul>
                <ul class="tel_m">
                    <li>무용학과</li>
                    <li>예술대 구관 2030호</li>
                    <li>T 063-270-3746<br>
                        F 063-270-3748</li>
                </ul>
                <ul class="tel_m">
                    <li>미술학과</li>
                    <li>예술대 신관 1270호</li>
                    <li>T 063-270-3726<br>
                        F 063-270-2827</li>
                </ul>
                <ul class="tel_m">
                    <li>산업디자인학과</li>
                    <li>예술대 신관 2010호</li>
                    <li>T 063-270-3755<br>
                        F 063-270-3587</li>
                </ul>
                <ul class="tel_m">
                    <li>음악과</li>
                    <li>예술대 신관 3220호</li>
                    <li>T 063-270-3736<br>
                        F 063-270-3737</li>
                </ul>
                <ul class="tel_b">
                    <li>한국음악과</li>
                    <li>예술대 신관 4230호</li>
                    <li>T 063-270-3716<br>
                        F 063-270-3709</li>
                </ul>
            </div>
        </div>
    </div>

<!-- footer -->
<? include "include/footer.html" ?>   
    
    <div>

</div>

<div id="gogo">
        <ul>
            <li class="q_login"><a href="#"><img src="/images/side1.png" alt=""></a></li>
            <li class="search"><img src="/images/side2.png" alt=""></li>
            <li class="q_menu"><img src="/images/side3.png" alt=""></li>
            <li><a href="#"><img src="/images/side4.png" alt=""></a></li>
        </ul>

        <div class="search_box">
            <form action="">
                <fieldset>
                    <legend>검색</legend>
                    <input type="text"  minlength="2">
                </fieldset>
            </form>
        </div>  

</div>

<!-- side_m -->
<? include "include/side_m.html" ?>


<script src="/script/action.js"></script>


</body>
</html>